.CardImage {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.CardImageCorp {
  background-size: 130px;
  background-position: -15px -29px;
}

.CardImageRunner {
  background-size: 130px;
  background-position: -15px -23px;
}
